body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
}

.head {
    color: white;
    display: flex;
    align-items:center;
    padding: 0 24px;
}

.nav {
    margin-left: auto;
    font-size: 14px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgrey;
}