body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 18px;
    background-color: #1f2937;
}

.head {
    color: white;
    display: flex;
    align-items:center;
    padding: 0 10%;
    font-weight: 700;
}

.nav {
    margin-left: auto;
    font-size: 14px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgrey;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    padding: 0 10%;
    gap: 48px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 8px;
}